.formContainer{
    height: 50%;
    background-color: white;
    margin: 0 30px 30px 30px;
    padding: 20px 0;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContainer .form{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.formContainer .formItem{
    display: flex;
    justify-content: space-between;
}

.formContainer .formInput{
    width: 45%;
    margin: 8px 0;
    text-align: left;
}

.formContainer .formInput:nth-child(5),
.formContainer .formInput:nth-child(6){
    margin-bottom: 0;
}

.formContainer .btnSend{
    width: 40%;
    margin: 20px auto;
}